# Dependencies
node_modules/
npm-debug.log*
yarn-error.log*

# Backend
backend/dist/
backend/node_modules/
backend/.env

# Frontend
frontend/.nuxt/
frontend/.output/
frontend/node_modules/
frontend/.env

# Docker
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Database
postgres_data/
